@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #3c484e;
  font-family: 'Open Sans', sans-serif;
}



.Header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:50px;
  margin-top:50px;
}


.Header a {
  text-decoration: none;
  color: #15302C;
}

.Main {
  padding: 50px;
  grid-template-columns: minmax(auto, 1176px);
  display: grid;
  justify-content: center;
}

.Movies {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
  margin-top:60px;
}

.Movies-inner {
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
  margin-top:50px;
}

.Movies-card {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  border-radius: 25px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
}

.Movies-card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Movies-card h2 {
  font-size: 8px;
  font-weight: 400;
  text-align: center;
}

.Movies-card h3 {
  font-size: 22px;
  font-weight: 300;
  text-align: left;
  margin: 20px;
}

.Movies-item {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  border-radius: 5px;
  margin: 0 0 10px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
}

.Movies-item img {
  width: 80%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Movies-item h2 {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.Movies-item a {
  text-decoration: none;
  color: #026C86;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Main-loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px;
}

.topbar{
background-color: #212529;
padding: 0;
}

.topbar .container .row {
margin:-7px;
padding:0;
}

.topbar .container .row .col-md-12 { 
padding:0;
}

.topbar p{
margin:0;
display:inline-block;
font-size: 13px;
color: #f1f6ff;
}

.topbar p > i{
margin-right:5px;
}
.topbar p:last-child{
text-align:right;
} 

header .navbar {
  margin-bottom: 0;
}

.topbar li.topbar {
  display: inline;
  padding-right: 18px;
  line-height: 52px;
  transition: all .3s linear;
}

.topbar li.topbar:hover {
  color: #1bbde8;
}

.topbar ul.info i {
  color: #131313;
  font-style: normal;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  top: 4px;
}

.topbar ul.info li {
  float: right;
  padding-left: 30px;
  color: #ffffff;
  font-size: 13px;
  line-height: 44px;
}

.topbar ul.info i span {
  color: #aaa;
  font-size: 13px;
  font-weight: 400;
  line-height: 50px;
  padding-left: 18px;
}

ul.social-network {
border:none;
margin:0;
padding:0;
}

ul.social-network li {
border:none;  
margin:0;
}

ul.social-network li i {
margin:0;
}

ul.social-network li {
  display:inline;
  margin: 0 5px;
  border: 0px solid #2D2D2D;
  padding: 5px 0 0;
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
  color: #000;
}

ul.social-network {
list-style: none;
margin: 5px 0 10px -25px;
float: right;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: .3s ease-out;
  color: #fff;
}
a {
color: #0a0a0a;
text-decoration: none;
}

li {
  list-style-type: none;
}
.bg-image-full {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.bg-dark {
  background-color: rgb(102, 172, 219)!important;
}

.mx-background-top-linear {
  background: -webkit-linear-gradient(45deg, #382ebb 48%, #1b1e21 48%);
  background: -webkit-linear-gradient(left, #3852aa 48%, #1b1e21 48%);
  background: linear-gradient(45deg, #305cd4 48%, #1b1e21 48%);
}
